<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ConsultaCliente</servlet-name>
        <servlet-class>Servlet.ConsultaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraCliente</servlet-name>
        <servlet-class>Servlet.CadastraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraOrcamento</servlet-name>
        <servlet-class>Servlet.CadastraOrcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProjetos</servlet-name>
        <servlet-class>Servlet.ConsultaProjetos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVendedor</servlet-name>
        <servlet-class>Servlet.ConsultaVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaVidro</servlet-name>
        <servlet-class>Servlet.ConsultaVidro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProdutos</servlet-name>
        <servlet-class>Servlet.ConsultaProdutos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaCliente</servlet-name>
        <url-pattern>/ConsultaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraCliente</servlet-name>
        <url-pattern>/CadastraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraOrcamento</servlet-name>
        <url-pattern>/CadastraOrcamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProjetos</servlet-name>
        <url-pattern>/ConsultaProjetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVendedor</servlet-name>
        <url-pattern>/ConsultaVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaVidro</servlet-name>
        <url-pattern>/ConsultaVidro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProdutos</servlet-name>
        <url-pattern>/ConsultaProdutos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
